<div class="container">
  <div class="page-header">
    <ol class="breadcrumb mt-2">
      <li><%= link_to "Events", events_path, class: "m-1" %></li>
      /
      <li class="active ml-1"><%= link_to @event.name, event_path(@event) %></li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-7 p-0" >
      <h2><%= @event.name %></h2>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag(@event.image.url, height: "200px", width: "100%" ) if @event.image%>
            <div class="carousel-caption">
              Image 1
            </div>
          </div>
        </div>
      </div>
      <!-- carousel ends here -->		
    </div>
    <div class="col-md-5 mt-5">
      <b><%= @event.description %> </b><br/>
      <b>Starting from :</b> <%= @event.start_datetime.strftime("%d %B %Y - %I:%M %P ") %> <br/>
      <b>Ending at :</b> <%= @event.end_datetime.strftime("%d %B %Y - %I:%M %P ") %><br/>
      <% if can? :create, EventSession.new %>
      <%= link_to "Add Session", new_event_event_session_path(@event.id), class: "btn btn-danger mt-3"%>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <% if can? :read, EventSession.new %>
    <%= render 'sessions'%>
    <% end %>
  </div>
  <div class="attendees">
  </div>
</div>