<div class="row">
	<h3>Participation Requests</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Description</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Host</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @session_bookings.each_with_index do |session, i| %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= session.event_session.name %></td>
				<td><%= session.event_session.description %></td>
				<td><%= session.event_session.start_datetime.to_time.strftime('%B %e at %l:%M %p') %></td>
				<td><%= session.event_session.end_datetime.to_time.strftime('%B %e at %l:%M %p') %></td>
				<td><%= session.host.name %></td>
				<td><%= session.status %></td>
				<td>
					<%= form_for([session], url: session_bookings_approve_or_reject_path(id: session.id)) do |f|  %>
					<%= f.submit "#{session.is_approved? ? 'Reject' : 'Approve'}" , class: "btn btn-info"%>
					<% end %>	
				</td>
			</tr>
			<%end %>
		</tbody>
	</table>
</div>